<style>
.a{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: rgb(23, 2, 101);
}
.b{
  width: 20%;
  height: 20px;
  background-color: bisque;
  margin: 10px;
  box-shadow: 3px 3px 3px red;
  border: 2px solid rgb(126, 43, 221);
}
th{
  background-color: rgb(58, 226, 43);
  padding: 20px;
  margin-left: 20px;
  border: 2px solid black;
}
table,td{
  background-color: bisque;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}
.container{
  margin-left: 100px;
}
.heading{
  text-shadow: 2px 2px 2px yellowgreen;
}
</style>
<fieldset style="background-color: rgb(112, 109, 104);">
<div class="container">
 <marquee width="20%" direction="right" scrollamount="10"><h1 class="heading"><strong>Angular </strong>Services</h1></marquee><br>

  <button type="button" id="a" (click)="getPolicyDetails()" style="border: 2px solid yellow; background-color: black;color:white;height: 50px;width: 200px;font-size: 20px;" >View Policies</button>
  
    <!--ngStyle-->
   <div class="a">Choose Theme Color:</div><input [(ngModel)]="color" class="b"/> 
   <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th [ngStyle]="{'color': color}">Policy_ID</th>
                      <th [ngStyle]="{'color': color}">Policy_Name</th>
                      <th [ngStyle]="{'color': color}">Policy_Plan(yearly)</th>
                      <th [ngStyle]="{'color': color}">Contact_Number</th>
                  </tr>
              </thead>
              <tbody>
                  <!--*ngFor Directive - Looping through the policies-->
                  <!--policies is the array holding all the polcies accessed from the PolicyService-->
                  <tr *ngFor="let policy of policies;">
                      <td>{{policy.policyID}}</td>
                      <td>{{policy.policyname}}</td>
                      <td>{{policy.policyrate}}</td>
                      <td>{{policy.policycontact}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <br>
</div>
</fieldset>